.ContainerWrapper {
  text-align: center;
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  -webkit-box-shadow: 2px 5px 16px 0px #0b325e,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
